body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 20px;
    margin-right: auto;
}

#links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px 100px 0px 0px;
}

.welcome {
    display: flex;
    background-color: #1F2937;
    padding: 90px;
    align-items: center;
    justify-content: center;
}

.welcome-body {
    flex-basis: 400px;
    margin-right: 50px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.intro {
    color: #E5E7EB;
}

.welcome img{
    width: 400px;
    height: 250px;
}

.welcome button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.infobx {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.infobx p {
    width: 155px;
    text-align: center;
    margin-top: 10px;
}

.infotitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0px;
}

.infobx div {
    padding: 20px;
    color: #1F2937;
}

.body img {
    border: 4px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.quotebx {
    display: flex;
    flex-direction: column;
    width: 650px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 0px;
    font-style: italic;
}

.quote b {
    text-align: right;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 10px;
}

a:hover {
    color: #eb9c0a;
}